[2015-07-29 08:25] mesouug opened #4 "TDT/TOT question"
Good day.

Thank you for good software. :)
We have very small question. Does it possible to extract TDT/TOT timestamps from stream?
If not possible with dvbtee please give us a hint how we can grab it (if you know of course how this possible) :)

Thanks,
Mikhail.

[2015-07-29 09:55] pashamesh commented on #4
I found https://github.com/mkrufky/libdvbtee/blob/master/libdvbtee/parse.cpp#L131

It's only output TOT data in debug:
`dprintf("(%s)", (decoded) ? "post" : "pre");`

[2015-07-29 10:13] mkrufky commented on #4
If you are using the command line application 'dvbtee', you can enable timestamps in the debug output by or'ing 64 into the debug parameter.

For instance:  dvbtee -c33 -d64

...will enable time stamp display from STT, TOT or TDT tables.

side note:  the take_tot function that Pasha describes parses both TOT and TDT tables.

[2015-07-29 10:19] mesouug commented on #4
Perfect!!!
That's what we really need! Thx guys!

[2015-07-29 10:19] #4 closed

[2015-07-30 10:10] mesouug opened #5 "file rotate question"
Good day.

Does it possible to rotate output files during recording? (Some simple equivalent to DVR).
Or we need to add this kind of functionality? If need to add where you would suggest to start from (just a hint)?

Thanks,
Mikhail.

[2015-07-30 10:35] mkrufky commented on #5
Are you talking about changing the output file at the end of the show that's currently recording, using a new file for the next show?  Or, do you mean something more along the lines of file rotation during long recordings such that the file name increments when the size of the file reaches a certain maximum?

If you want a different file for each show being recorded, that's a simple matter of endi

[2015-07-30 11:00] mesouug commented on #5
We are using CLI variant.

"If you want a different file for each show being recorded, that's a simple matter of ending the first recording, then starting a new recording at the right times."
Does it possible to stop output without stopping input stream? As I understand "stopoutput" stops both, am I wrong?

"If you meant the latter, though, capping each file by a size limit... That's a good idea,

[2015-07-30 12:05] mkrufky commented on #5
I see how the documentation is unclear about the difference between `stop` and `stopoutput` - I will look into this later on and get back to you.

I think the best way to go about this would be as follows:

1) add "change filename" API to the output_stream class in output.cpp  - This API would close the current file handle and open a new one without losing any data.

2) add a mechanism to serve.cp

[2015-07-30 14:30] pashamesh commented on #5
"Are you talking about changing the output file at the end of the show that's currently recording, using a new file for the next show?"
Is it possible to detect EPG program change to trigger `change filename` API?

[2015-07-31 01:28] mkrufky commented on #5
"detect EPG program change"
this is a planned feature, not yet implemented.

[2015-07-31 01:32] mkrufky commented on #5
"detect EPG program change"
This is a planned feature, not yet implemented. As of right now, it will only generate events when these EPG entries are received / decoded. For now, you must write your own logic to match the EPG schedule against the current wall time. You can use the "info={channel id}" API to find out whats currently on and how much time is remaining.

[2015-08-10 13:34] pashamesh commented on #5
@mkrufky , can you review my commits sticked to this issue?

[2015-08-11 20:56] mkrufky commented on #5
Loads of whitespace problems, but that's easy to fix -- no big deal.  The biggest feedback that I have is that I would like to see the file rotation sequence features only in the `output_stream` class.  The `output` class may of course may contain a function that will allow you to set the option on a new file output stream, but we should allow each `output_stream` to be configured separately

[2015-08-12 08:45] pashamesh commented on #5
Thank you for review. Will try to do changes according your notes.

[2015-10-13 21:48] mkrufky opened #7 "decoder c++ templates in decoder branch appear to be misaligned at runtime when built with CLANG"
1444781573 feed::libdvbtee_set_debug_level: (0xff)
1444781573 rbuf::rbuf: ()
1444781573 listen::socket_listen: ()
1444781573 out::output: ()
1444781573 parse::parse: ()
1444781573 listen::socket_listen: ()
1444781573 feed::feed: ()
1444781573 tune::tune: ()
1444781573 linuxtv_tuner::linuxtv_tuner: ()
1444781573 linuxtv_tuner::set_device_ids: (0, 0, 0, 0)
open_fe: using /dev/dvb/adapter0/frontend0

[2015-10-25 18:46] #7 closed

[2016-01-15 20:33] rdp opened #11 "build failure"
attempting to follow instructions from readme:

$ autoreconf --install
$./configure
...
$make
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in libdvbtee/value
make[2]: Nothing to be done for `all'.
Making all in libdvbtee/decode
depbase=`echo decoder.lo | sed 's|[^/]*$|.deps/&|;s|\.lo$||'`;\
	/bin/sh ../../libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H

[2016-01-15 22:45] mkrufky commented on #11
The library depends on `libdvbpsi` This error indicates that the `dvbpsi.h` header is missing from your system.  You will need to install the development version of the package that your distro ships, although it might not be recent enough for some features (such as ATSC).  I recommend to instead just use the `build-auto.sh` script as described in the `README.md` to build the library along with it

[2016-01-15 23:30] rdp commented on #11
awesome it worked perfectly (my apologies I thought I had tried build-auto.sh but apparently it was interrupted or something weird).  Anyway it works so well, and the README describes it even as "recommended" you may want to consider putting it at the top there, cheers!

[2016-01-15 23:30] #11 closed

[2016-01-16 00:09] rdp opened #12 "unable to cross compile (mingw) for windows"
This library works great.  EPG from my TS files!
I tried to make a distribute for "end users" and ran into this:

[code]
FWIW. Cheers!

[2016-01-16 16:38] mkrufky commented on #12
I don't have access to a windows build environment, but I do have an appveyor account and will try to bring up a windows build on the http://github.com/mkrufky/libdvbtee/tree/win branch.

I don't know exactly how to build using automake in windows... Again, if only I had a windows box handy here I'd probably figure it out.  Can you tell me what (open source, hopefully) tools I should download and

[2016-01-16 20:45] rdp commented on #12
you can get free windows vm's here:
https://dev.windows.com/en-us/microsoft-edge/tools/vms/windows/

In actuality I was using a cross building environment, though I assume the
compilation results would be the same:

https://github.com/rdp/ffmpeg-windows-build-helpers

re-add this line to have it attempt to build it:

https://github.com/rdp/ffmpeg-windows-build-helpers/commit/a756ff0e411316abec6cab

[2016-01-18 23:56] mkrufky commented on #12
@rdp , thanks for this great info!  I had no idea these windows VMs were available - I will give them a try.

I took a look at your https://github.com/rdp/ffmpeg-windows-build-helpers project and it looks very helpful.  Very easy to use for cross building windows applications on a Linux machine.

I made some minor fixes to my code and build system, some of which I have already merged into the `mas

[2016-01-19 03:05] mkrufky commented on #12
Aha!  I've gotten my `win` branch to build using your https://github.com/rdp/ffmpeg-windows-build-helpers/commit/ce2bf0738ed285bdb03db290bec83a7b1aab37b8 !

Can you test it for me?  Here's how:

Re-run your build again.  When it fails, do:
[code]

...and then re-run your build once more.  This time, libdvbtee should build without error.

In the meanwhile, I'll work on turning these hacks into prop

[2016-01-19 03:45] mkrufky commented on #12
libdvbtee will build with additional features enabled if you add `libcurl` and `libhdhomerun` as libraries in your dependency list.

[2016-01-20 19:58] rdp commented on #12
awesome, will test...

[2016-01-26 16:24] rdp commented on #12
Awesome, builds great.  I was wondering if there's a way to use the tool to
extract EPG info from TS dumps, ex:
https://trac.ffmpeg.org/raw-attachment/ticket/3025/sbs.2.5M.ts
<https://www.google.com/url?q=https%3A%2F%2Ftrac.ffmpeg.org%2Fattachment%2Fticket%2F3025%2Fsbs.2.5M.ts&sa=D&sntz=1&usg=AFQjCNHL1OMH8xY4aboz28aiV6paCWQEiQ>
I tried a few command line options
dvbtee.exe -E -j -Fsbs.2.5M.ts
hopi

[2016-01-26 17:36] mkrufky commented on #12
Thanks for the feedback!  With the help of those Windows VMs that you have pointed to above, I've managed to test `dvbtee.exe` under Windows and found many bugs, most of which I fixed last night.  It must have been before you tried it out, because the state of things was very bad beforehand.  There are still three outstanding problems that I am aware of:
- cannot read data from STDIN
- cannot read

[2016-01-26 17:38] mkrufky commented on #12
Addressing your question in case I wasn't clear:  I found a bug in the windows build that aborts after reading 4k from a local file.  This is the first bug that I hope to fix tonight.  Once that's fixed, you should see the same data that DVBInspector shows you (if not, more)

[2016-01-27 01:07] mkrufky commented on #12
The "abort read from a local file after 4k" issue is fixed now in the `win` branch, but there is another problem preventing the EPG to be read from the `sbs.2.5M.ts` file: for some reason, the descriptor decoder submodules are not being linked in the cross build environment.  If you test the same file under linux, the EPG shows up.  I am still looking into this.

[2016-01-27 02:00] mkrufky commented on #12
...and now there's a hack in place that forces the descriptor decoders to link in a hacky way.  I need to think of something better...  but it's there in the `win` branch for testing in the meanwhile.  The windows version *should* behave the same as the linux version does now when reading local files.

[2016-01-27 02:01] mkrufky commented on #12
...and now there's a hack in place that forces the descriptor decoders to link.  I need to think of something better...  but it's there in the `win` branch for testing in the meanwhile.  The windows version *should* behave the same as the linux version does now when reading local files.  @rdp can you try again and let me know if the EPG data that you're expecting is showing up now?

[2016-01-27 13:58] mkrufky commented on #12
...winsock network input & output is working now, too.  The only think that I haven't fixed yet is read from STDIN

[2016-01-27 19:11] rdp commented on #12
Working great thank you!  Finally command line EPG data LOL.
Let me know when the win branch is merged in (and answer that superuser)
and I'll accept your answer there, thanks so much for your help here.
-roger-

On Wed, Jan 27, 2016 at 6:58 AM, Michael Ira Krufky <
notifications@github.com> wrote:

[2016-01-27 19:27] rdp commented on #12
I made an attempt at cross compiling libhdhomerun but somehow wasn't able
to quite get it working.  I may revisit it at some point or if you have any
feedback there, fire away.  Thanks again.
-roger-

On Wed, Jan 27, 2016 at 12:11 PM, Roger Pack <rogerdpack@gmail.com> wrote:

[2016-01-29 00:43] mkrufky commented on #12
@rdp all the fixes you need have been merged into the `master` branch.  Please update your scripts accordingly.  Thanks again for shipping dvbtee.exe with your cross-build, and for testing my fixes here.  I'll take a crack at fixing the libhdhomerun cross build, and I'll send you a PR if I have any success.

[2016-01-29 00:47] #12 closed

[2016-01-30 22:51] benjojo opened #13 "JSON output... isnt?"
I fed in a day or so of BBC Radio 1's TS mux into this like so:

`cat /dvb/6720/365/14515*.ts | ./dvbtee/dvbtee -j  |&  tail -n 120` (tailing because I can't find a way to turn off the dots)

And got at the end of it:

[code]

This is accurate (other than lengthSec and startTime, those don't seem to make sense, or I'm missing something completely) however the output given here is not JSON that can

[2016-01-30 23:56] mkrufky commented on #13
Good point about the single quotes - I just changed them to double quotes and pushed to `master`.  As for the lengthSec and startTime, these are just the raw fields in the PSIP tables - they need some manipulation to convert to human readable timestamps.  Does the debug output on the console for that EPG event have the right time?

[2016-01-30 23:58] mkrufky commented on #13
Are you talking about the periods that draw when there is a TEI error in the TS?

[2016-02-01 20:37] benjojo commented on #13
Most likely yes, I tried reading around, is there a way to disable those?

[2016-02-02 00:34] mkrufky commented on #13
There wasn't before today, but I just added a compile flag to disable them, along with the TEI message on stderr.  I'll probably change it to a runtime flag, or maybe switch it to default... let me think on that a bit, but this should resolve it for you in the meanwhile.

Please update your sources with the latest changes in my `master` branch and rebuild passing `CXXFLAGS=-DQUIET_TEI` to `./confi

[2016-02-08 06:07] cybernard opened #14 "error in libdvbpsi"
This is a recording from a hdhomerun using a file recorded from OTA
Mythtv dvr recorded file.

dvbtee  -F 1101_20160207045500.ts  -O7 -ofile://output.ts
# dvbtee v0.4.3 - http://github.com/mkrufky/libdvbtee

_open_file: using 1101_20160207045500.ts
store PAT: v0, ts_id: 3223
           1 | 30
store PMT: v18, service_id 1, pcr_pid 49
  es_pid | type
      31 | 0x02 (Video MPEG-2) |
      34 | 0x81

[2016-02-08 13:29] mkrufky commented on #14
There is a minor glitch in your recorded stream -- this is not a software error.

Each PID has a packet counter.  This can be used to aid in detection of whether the receiver has missed any data, so that it can reset decoders, etc as necessary.

The `TS discontinuity error for PID 0` just means that the packet counter check for `PID 0` has failed.  This indicates to us that some data flow is tempo

[2016-02-11 19:52] benjojo commented on #13
Yup, This all works for me now, Thanks for the help!

[2016-02-11 19:52] #13 closed

[2016-02-18 00:52] mkrufky commented on #14
Any other questions, @cybernard ?

[2016-03-23 23:53] #14 closed

[2016-04-28 20:45] MarkusJg opened #15 "Quoting issue in JSON output"
I want to use dvbtee JSON output to extract EPG information from my stored ts-files.
It looks that I found an issue here:
When a description already contains text quoted with double quotes, the JSON output gets invalid, because this description is wrapped again with double quotes without escaping the inner quotes, see below (...""Mein ...)
`{ "descriptors": [ { "descriptorTag": 77, "lang": "deu",

[2016-05-25 00:11] mkrufky commented on #15
This issue is actually caused by the `valobj` component of within `libdvbtee` , which I have broken out into a separate development repository some time ago.  Latest builds of `valobj` have some new features that are not necessary for `libdvbtee`, but it will also be easier to fix this issue using the latest `valobj` .  I'm currently working on updating `libdvbtee` to use the new version, then I w

[2016-05-30 15:06] rdp commented on #12
some  official downloadable binaries might be nice too but cross compiling works for me for now thanks so much!

[2016-06-02 18:31] mkrufky commented on #15
@MarkusJg , I threw a small patch together that should solve your problem while waiting for the more proper fix... Can you test the code in the [escape-quotes-dr_4d#15](https://github.com/mkrufky/libdvbtee/tree/escape-quotes-dr_4d%2315) branch?

[2016-06-03 02:36] andrewfblake commented on #15
Hey Mkrufky! Just noticed the same thing!  (love this app btw) ... I'll happily test it for you (however i'm a windows guy and have no idea how to build this from theraw source!) If I can get a windows build i'll test away!... cheers!  P.s. how do you convert the "startTime": 965444908611  to a datetime? is it in ticks or milliseconds and/or offset by epoch or something?! Cant seem to work it out!

[2016-06-03 04:26] andrewfblake opened #16 "Enhancement Request: EPG TV Show Category and Advisory"
Hi again,

Just a quick question to see if it would be possible to get the Category of the TV Show (i.e. "Entertainment" or its Id?) and the Advisory (PG, 18+ etc) in the Output? ... Having a look at a sample output i've captured the descriptorTag always seems to be 77 which i'm guessing means video as its 72 for the radio channels? Sorry if its there and i'm missing something here?!

Currently us

[2016-06-03 10:12] mkrufky commented on #15
@andrewfblake , The timestamps output by libdvbtee should already be displayed in a datetime format...  Can you show me the specific output you are refering to?  (also, this should probably be moved to a separate issue)  Either way, if you google UNIX timestamp conversion and plug in the `965444908611` value, you'll find that the value itself is wrong.  Please open a new issue with the output from

[2016-06-03 10:25] mkrufky commented on #16
Hello @andrewfblake .  Descriptors tagged 77 are called `short event descriptors` and are parsed by the `desc_4d` parser.  These are used to describe any event.  Do you know for sure that the Australian PSIP tables contain categories and advisory ratings in the output?  It sounds familiar and I don't doubt it, but in order to add such support, I will need to get some sample streams.  (I live in Ne

[2016-06-03 11:06] mkrufky commented on #12
@rdp official downloadable windows binaries sound like a great idea, but I don't currently know how to build `libdvbtee` under windows without using your scripts.  I was thinking of taking a closer look at your scripts, hack them a bit to only build `libdvbtee` and then run it in my `CircleCI` or `AppVeyor` accounts to automatically post binaries to github, but it will be a while before I find the

[2016-06-03 12:47] andrewfblake commented on #16
Amazing! thank you for checking it out! ...and sure thing! here is a full dump of all AU TV Networks (just to be on the safe side! // 2 mins each, all streams/programs) ...Yeah would love to contribute somehow, so i'll give it a go!

Australian Free to Air Network (all Programs/Streams):

http://adgile.blob.core.windows.net/general/ABC_Network.ts
http://adgile.blob.core.windows.net/general/Nine_Ne

[2016-06-03 13:00] andrewfblake opened #17 "Bug? "starttime" and "lengthSec" time values not converting to human readable times"
Just trying to convert the time information for use but having difficulties! .... Below example for the two fields "LengthSec" and "startTime" that don't seem to convert into human readable timespans or datetimes... tried Ticks/Epoch/Milliseconds etc :-)

For example:
`
{
   "descriptors":[
      {
         "descriptorTag":77,
         "lang":"eng",
         "name":"Just Jazz",
         "text":"Ju

[2016-06-03 14:14] mkrufky commented on #17
@andrewfblake , looking at http://adgile.blob.core.windows.net/general/ABC_Network.txt , I see that the `dvbtee` command prints a `Just Jazz` program event from `21:45 - 00:00`:

[code]

Is this information correct?  The timestamps on some of the other programs look a bit fishy, so I'm not sure.  Also, `Just Jazz` airs again in another EIT block:

[code]

These timestamps definitely look fishy.  I

[2016-06-03 14:16] rdp commented on #12
Shoot nothing comes to mind.
Like I said, there's no rush since I can cross compile it locally :0

On Fri, Jun 3, 2016 at 5:06 AM, Michael Ira Krufky <notifications@github.com

[2016-06-03 14:28] andrewfblake commented on #17
Ah ABC and that channel in particular is probably a little misleading @mkrufky as its a radio channel and its Just Jazz allllllllll day long... the Seven, Nine and TEN Networks are our main ones and the timestamps look ok in the tables at a quick glance but i'll compare them with my TV tomorrow and double check them! :-)

[2016-06-03 14:34] mkrufky commented on #17
If you can confirm that the timestamps are parsed correctly (or help me to confirm any needed fixes) then we can add some parsed timestamp fields to the JSON object for easier parsing.

[2016-06-06 03:59] andrewfblake commented on #17
OK, Seems like the time is simply offset by 4 hours in the tables. The duplicate listings of the shows seems to appear here on TV too so that must just be how they are broadcast.

**Example 1:**
Chanel 7
http://adgile.blob.core.windows.net/general/2016-06-03-7epg.txt
epg line: 62:  "14:00 - 16:00 : The Morning Show - Weekend"
http://adgile.blob.core.windows.net/general/2016-06-03-7.jpg
Showing "Th

[2016-06-07 17:45] mkrufky commented on #17
@andrewfblake , In NYC, television is broadcast using ATSC, a drastically different protocol standard for program service information, while DVB-T is used in AU.

It's possible that there is no bug at all.  Perhaps the right time conversion functions are missing on your system and the build system's compat fallback didnt do the right thing...  Can you post your `config.h` so I can see what your bu

[2016-06-08 15:14] rdp commented on #17
top level config.h

[2016-06-08 16:07] mkrufky commented on #17
...just as I thought.  Your system uses a different codepath for the time parsing.  I'll do another windows cross-build and see if I can solve this here (might take a few days)

[2016-06-08 22:56] mkrufky commented on #17
My local windows cross-build config.h has the following time* config:
[code]
and running the windows `dvbtee.exe` (using `wine`) with the same example here in NYC, I get:

[code]
Next I'll have to actually run it in windows and see what happens...

[2016-06-09 02:02] rdp commented on #17
seems the same as the uploaded...

[2016-06-09 11:25] mkrufky commented on #17
Running that same binary (previously tested under Linux using WINE) in Windows (virtualbox), I get:

[code]

So, there is definitely something weird with the timezone offset handling going on in the windows cross build.  I don't have the bandwidth to solve that myself right now, but patches are welcome :-)

In the meanwhile, I pushed a patch for testing that will add decoded `unixTimeBegin` and `u

[2016-06-09 11:37] mkrufky commented on #17
...if I change my Windows timezone to Canberra, Melbourne, Sydney (UTC +10:00) I get:
[code]
Is this your timezone, @andrewfblake ?

Maybe you're right... perhaps it's being broadcast in local time there rather than UTC.

[2016-06-09 11:37] MarkusJg commented on #15
@mkrufky Thanks a lot for this quick-fix solution. For me it works really fine. The json output is correct now and I can further develop my own scripts based on this.
Thanks! Markus

[2016-06-09 11:54] andrewfblake commented on #17
Hey @mkrufky wow thank you for the help so far! I was using @rdp 's build (I have nooo idea how to build on a windows box and looking into it, though its waay over my head at the moment!)

Yup, I'm in Brisbane (AEST // UTC +10:00) which is currently the same as Canberra, Melbourne, Sydney (they have the addition of daylight savings)

Maybe it is?! The Morning Show aired at 10am locally so its stil

[2016-06-09 12:20] mkrufky commented on #17
here's a patched win32 build:
[dvbtee.exe.zip](https://github.com/mkrufky/libdvbtee/files/306858/dvbtee.exe.zip)

[2016-06-09 12:28] andrewfblake commented on #17
amazing, much appreciated! thank you!!! Unixtimestamps coming through wonderfully!!

[2016-06-19 22:05] #17 closed

[2016-06-20 02:40] #15 closed

[2016-06-20 11:55] mkrufky commented on #15
Please note: there was a memory leak in the test patch that I provided for this feature.  I have fixed the problem and merged the feature into the master branch.  Please try again using the latest master.

[2016-07-22 11:54] rdp opened #21 "build failure with gcc 6.1"
Seemed to work OK with 5.x :)

libtool: compile:  i686-w64-mingw32-g++ -DHAVE_CONFIG_H -I. -I../.. -I.. -I../value -I./table -I./descriptor -DFORCE_DECODER_LINKAGE -g -O2 -MT table/tabl_02.lo -MD -MP -MF table/.deps/tabl_02.Tpo -c table/tabl_02.cpp -o table/tabl_02.o
In file included from ../decode/descriptor/descriptor.h:33:0,
                 from ../decode/table/table.h:28,
                 fro

[2016-07-22 12:09] mkrufky commented on #21
Thanks for reporting this.  It looks like GCC 6 isn't happy with some macros.  I'll set up a dev environment with GCC 6.1 later on and see what needs to be done to fix this.

In the meanwhile, you can specify `--enable-olddecoder` to `configure` to disable this code path, but you will lose the JSON output support.

I'll try to have a fix merged over the weekend.

[2016-07-22 15:54] mkrufky opened #22 "Travis builds on OS X fail due to `/usr/local/Library/ENV/4.3/sed: No such file or directory`"
[code]

[2016-07-22 15:57] #22 closed

[2016-07-23 00:51] mkrufky commented on #21
@rdp this is fixed now in the master branch.  Thanks again for reporting!

[2016-07-23 03:42] rdp commented on #21
It does get much farther now, thanks!

Now I get this different thing:

libtool: compile:  i686-w64-mingw32-g++ -DHAVE_CONFIG_H -I. -I../.. -I.. -I../value -I./table -I./descriptor -DFORCE_DECODER_LINKAGE -g -O2 -MT table/tabl_02.lo -MD -MP -MF table/.deps/tabl_02.Tpo -c table/tabl_02.cpp -o table/tabl_02.o
In file included from ../decode/descriptor/descriptor.h:33:0,
                 from ../deco

[2016-07-23 10:05] mkrufky commented on #21
...and that's fixed in the master branch now, too.  Try again, @rdp ?

[2016-07-26 14:23] rdp commented on #21
OK the initial failure is gone now, and it builds in gcc 5 again thank you! There appears to be a new different failure now, I'll log it in a separate bug :)

[2016-07-26 14:23] #21 closed

[2016-07-26 14:24] rdp opened #24 "gcc 6 issue"
cross compiling anyway:

libtool: compile:  i686-w64-mingw32-g++ -DHAVE_CONFIG_H -I. -I.. -I./decode -I./decode/table -I/usr/include/libhdhomerun -I/usr/lib/libhdhomerun -I/opt/local/include -pthread -D__STDC_FORMAT_MACROS -g -O2 -MT curlhttpget.lo -MD -MP -MF .deps/curlhttpget.Tpo -c curlhttpget.cpp -o curlhttpget.o
In file included from /home/rdp/dev/ffmpeg-windows-build-helpers/sandbox/cross_co

[2016-07-26 15:01] mkrufky commented on #24
Hmm, I didn't have this problem when I built using gcc6.1 ...

If you edit `configure.ac` and delete the following line:
[code]
do a `make distclean`, then re-run `./configure`

...does that fix the build?  If so, something might be fishy in the libcurl headers with gcc6.

[2016-07-26 20:23] mkrufky commented on #24
Based on what I've read in the following links:

- [::malloc has not been declared](https://nerdland.net/unstumping-the-internet/malloc-has-not-been-declared/)
- [Thread: error: '::malloc' has not been declared](http://forums.codeguru.com/showthread.php?435615-error-malloc-has-not-been-declared)

...this error is actually caused by the presence of `AC_FUNC_MALLOC` in `configure.ac` ... deleting th

[2016-07-26 23:11] mkrufky commented on #24
It turns out that `libdvbtee` has `AC_FUNC_MALLOC` in `configure.ac` but it isn't actually being used at all, and doesn't need to be there, so I have removed it from the master branch.  I hope this fixes the cross build -- I haven't had a chance to test cross-build using gcc 6 yet.

[2016-07-27 15:13] rdp commented on #24
seems fixed now thank you!

[2016-07-27 15:13] #24 closed

[2016-07-27 16:51] mkrufky commented on #24
Thank YOU @rdp for reporting and testing :-)

[2016-11-12 19:44] hurzl opened #27 "FreeBSD"
Why do I get
[code]
on FreeBSD?

[2016-11-12 20:59] #27 closed

[2017-02-04 23:07] YugoCode opened #28 "Failed to open stdin"
I'm trying to use dvbtee inside a node.js application. I have a tuner module which gives me access to a MPEG-2 transport stream from a DVB-T stick.

Earlier I piped the output to a file record.ts and started dvbtee with the file as its input, which worked. Now I would like to pipe the stream directly to dvbtee. Therefore I'm starting dvbtee without arguments, which works fine on a linux shell but

[2017-02-05 15:01] mkrufky commented on #28
@YugoCode I added a hack in a test branch that will retry `freopen(NULL, "rb", stdin)` until a success.  This shouldn't cause any regressions under normal operation, and will hopefully solve your problem.

Please let me know if this works for you, and then I'll merge it (or something similar) to the master branch.

[2017-02-05 15:02] mkrufky commented on #28
@YugoCode I added a hack in a test branch called `start-stdin-retry-200ms#28` that will retry `freopen(NULL, "rb", stdin)` until a success.  This shouldn't cause any regressions under normal operation, and will hopefully solve your problem.

Please let me know if this works for you, and then I'll merge it (or something similar) to the master branch.

[2017-02-05 16:11] mkrufky commented on #28
@YugoCode just curious, where does your tuner component come from?  I have been working on writing some node.js bindings for libdvbtee, but I need to finish refactoring the input feed pipeline first.  Once it's done, it will be easy to create tuner input objects etc from within node.js with built-in parsing and event callbacks.

[2017-02-05 16:35] YugoCode commented on #28
@mkrufky Thanks for your quick fix!

Unfortunately it is not working. When I tried to pipe the output of the tuner to the dvbtee process the tuner said "buffer is consumed to slowly" and when I checked the buffer wasn't consumed at all.

The only output I get from dvbtee is `reading from STDIN`.

I wondered if it has to to do with the tuner, so I created this test, which doesn't require a tuner:

[2017-02-05 22:32] YugoCode opened #29 "Support for german special characters"
The german special characters ä, ö and ü ([https://simple.wikipedia.org/wiki/Umlaut](https://simple.wikipedia.org/wiki/Umlaut)) won't be displayed correctly.

dvbtee output:
04:25 - 05:10 : SOKO Kitzb�hel
09:05 - 10:15 : Volle Kanne - Service t�glich

Should be:
04:25 - 05:10 : SOKO Kitzbühel
09:05 - 10:15 : Volle Kanne - Service täglich

[2017-02-07 21:16] mkrufky commented on #28
I'm still digging into this.  You might be better off with my node addon module -- I'll try to clean things up soon and put it to github.  In the meanwhile, have you considered trying to use `spawn` rather than `exec` ?

[2017-02-09 20:14] YugoCode commented on #28
Can't wait for the node module!

I tested now `spawn` on the master and the test branch.

For the master I get the same output as in my inital post:

[code]

For the test branch it's the same as before with `exec`:

`reading from STDIN
`
and nothing more.

Here is the code:

[code]

Thanks again Michael!

[2017-02-12 21:19] mkrufky commented on #28
There, I've published the first build of the node module:
https://www.npmjs.com/package/dvbtee
and here:
https://github.com/mkrufky/node-dvbtee

You can be my first tester, @YugoCode :-)

I'd like to fix this stdin issue sometime, but this might work better for you, depending on your needs.

[2017-03-11 15:17] YugoCode commented on #28
Hey Michael, thanks for the module!!!

As you know we are not using a file but a stream from a fifo (named pipe).
So we cannot apply your code from the API documentation, because we don't have a normal file.

Therefore our code looks like this:

[code]

We are feeding the parser continuously with data from the fifo, which itself is getting the data from the dvb-t stick. And at some point our elect

[2017-03-11 16:57] mkrufky commented on #28
@YugoCode : How about something like this instead:

[code]

(you'll need version `0.1.x` of `node-dvbtee` - I recommend grabbing version `0.1.8` that I release last night)

[2017-03-11 16:57] mkrufky commented on #28
@YugoCode : How about something like this instead:

[code]

(you'll need version `0.1.x` of `node-dvbtee` - I recommend grabbing version `0.1.8` that I released last night)

[2017-03-15 19:30] mkrufky commented on #28
If you're still having a crash in your application after converting to node-dvbtee's pipe / stream method, it could be a garbage collection issue.  If you're running _Node.js_ version 7, there might be a scope local handle leak that I have fixed in the git repository, but haven't yet published.

What version of node.js are you running, @YugoCode ?

[2017-03-16 17:12] mkrufky commented on #28
I confirmed there was definitely a garbage collection issue with a leaked handle, which is fixed now in version 2.0.4 of `native-json`, another module that I wrote which `node-dvbtee` depends on.   If you grab the latest version that should be fixed for you.

[2017-03-19 12:25] YugoCode commented on #28
It is working now Michael! :)

Thank you very much for your help!!!

[2017-03-24 22:21] YugoCode commented on #28
I noticed two times this error now:

<img width="492" alt="error" src="https://cloud.githubusercontent.com/assets/21986752/24315605/3769583e-10e8-11e7-91cf-f860ff7cc42b.png">

The app is nevertheless working properly.

I don't know what the cause is. It happened occasional. We adjusted our code like you suggested.

[2017-03-26 03:36] mkrufky commented on #28
I think this is a packet remaining in the buffer from before the fifo was closed and repened with `init_fifo`

You're probably losing some data, there...  The app seems to work properly regardless because broadcast transport streams always have repeat redundant copies of the data.

[2017-05-17 18:54] mkrufky opened #33 "add missing program element descriptor tags"
...as described here: https://en.wikipedia.org/wiki/Program-specific_information under `Program Element Descriptor Tags`

[2017-05-17 19:00] mkrufky opened #34 "fix JSON cmd-line dump to display actual valid JSON"
for example, today's output:

[code]

should be changed to:

[code]

[2017-05-22 11:40] gamelaster opened #35 "UDP stream input doesn't work"
Hello,
I builded libdvbtee on Debian 7 x64. After running this command:
[code]
`iptraf` doesn't show any UDP packets so it's not pulling or something. My todo is to parse EPG from multicast TS stream. I tested this on node-dvbtee but I can't figure out how.

Thanks

[2017-05-22 18:50] mkrufky commented on #35
@gamelaster I am not sure if the `-s` "scan for services" argument is compatible with UDP streaming mode... I'll have to try this myself later on to be sure.  If you remove this option, does it work?  UDP multicast *should* work, recently merged #32

Make sure your multicast stream is running *before* you try to join as a listener using `dvbtee`

Meanwhile, You mentioned that you tested this using

[2017-05-22 19:13] gamelaster commented on #35
@mkrufky
UDP multicast streams running nonstop, and system have access on it (tested another script and I saw traffic in `iptraf`). I tested solo `./dvbtee -iudp://239.1.1.1:1234/ -t10 -d` but that doesn't do anything (I mean, the response is same as log upper). I have problem to understand the documentation so I probably doing something bad, I just tested some arguments and scenarios but I didn't

[2017-05-22 19:20] gamelaster commented on #35
While testing `dvbtee-express`, probably it's not suited for UDP:
![image](https://cloud.githubusercontent.com/assets/1665373/26324770/7731817e-3f34-11e7-8a42-9eb0443a4821.png)

[2017-05-22 19:50] mkrufky commented on #35
`dvbtee-express` is just a sample piece of code that will show you how to write your own parser yourself.  Look in `routes/parse.js`.  If you want it to receive multicast UDP, you will have to write some code to enable it.   `dvbtee-express` right now will just pull down a file or http resource and parse it.  It's just a demo that I pushed when I saw your issue this morning without any time to res

[2017-05-22 20:25] gamelaster commented on #35
@mkrufky
Thank you, I did it working thanks to `dvbtee-express` and using unicast stream, and timeout the pipe to 15 seconds. I will try to implement UDP, if it will works, I will make pull request with example file. Thank you a lot :blush:

[2017-07-01 08:10] mirmilad commented on #35
@mkrufky
We solved the udp input issue on `dvbtee-express` and now we read all data but we have a problem with content encoding. As our content is utf-8, I appreciate if you could help us to solve this issue.
Thank you a lot.

[2017-07-01 13:32] gamelaster commented on #35
@mirmilad can you share your UDP input?

[2017-07-01 13:34] mirmilad commented on #35
@gamelaster
Of course, I'm not in office right now. I'll commit it tomorrow and let you know.

[2017-07-03 11:52] mirmilad commented on #35
@gamelaster
You can find UDP input sample here: https://github.com/Pymossy/dvbtee-express

[2017-07-07 23:30] rdp opened #36 "mingw compile failure"
erve.cpp: In member function 'bool
serve_client::cmd_tuner_scan_channels_save()':
serve.cpp:1192:21: error: too many arguments to function 'int
mkdir(const char*)'
  if (mkdir(dir, 0777) < 0) {
                     ^
In file included from
/Users/packrd/dev/ruby/ffmpeg-windows-build-helpers/sandbox/cross_compilers/mingw-w64-i686/include/fcntl.h:8:0,
                 from serve.cpp:27:
/Users/packrd

[2017-08-12 11:16] #28 closed

[2017-08-28 23:29] mkrufky commented on #36
@rdp , my apologies - I didn't see this until now.  (it's been a busy summer) .... Can you confirm that the fix in this branch `fix-mingw-compile-failure#36` solves the problem?

[2017-08-29 01:52] #36 closed

[2017-08-29 01:53] mkrufky commented on #36
I was able to confirm the fix myself.  Thanks again for opening the issue, I wish I had seen it earlier :-/

[2017-08-29 13:45] rdp commented on #36
thanks!

On Mon, Aug 28, 2017 at 5:29 PM, Michael Ira Krufky <
notifications@github.com> wrote:

[2017-10-02 18:57] mkrufky commented on #29
@YugoCode, does the [iso6937](https://github.com/mkrufky/libdvbtee/tree/iso6937) branch fix this for you?

[2017-10-14 21:22] mkrufky commented on #29
Closing, as ISO6937 parsing support is now enabled by default in the master branch.   Please reopen if this isn't working properly for you.

[2018-02-09 15:28] fjbf commented on #29
I have problem with spanish characters. I think is not solved with ISO6937 branch:

tsudpreceive 239.10.10.10 2000 > capture.ts
Ctrl+C in 30 seconds
dvbtee -Fcapture.ts -j -E > capture.data

Then i see bad string in capture.data like:

"Don intenta ocultar su cada vez mÆs"
"parte, Peggy aæora a Pete y rechaza"

with bad characters

[2018-02-09 15:35] fjbf commented on #29
Fixed temporarly with:

sed -e 's/Æ/á/g' \
	-e 's/Ø/é/g' \
	-e 's/Ŧ/í/g' \
	-e 's/ð/ó/g' \
	-e 's/œ/ú/g' \
	-e 's/æ/ñ/g'

[2018-02-10 15:58] mkrufky commented on #29
@fjbf The branch was merged to master some time ago.  If master branch still has an issue, would you be able to send a TS sample that I can use to reproduce the issue and fix it?

[2018-02-12 18:59] fjbf commented on #29
[capture.zip](https://github.com/mkrufky/libdvbtee/files/1717404/capture.zip)

You can unzip and try with:
dvbtee -E -j -Fcapture.ts

[2018-04-17 10:15] phillipbarnett commented on #12
Hi! Sorry to revive an old thread, but I'm keen to try dvbtee and can't find a Windows binary.

 Firstly - this looks like a great tool for cross compiling - but I'm having difficulties getting libdvbtee to compile for Win64. After fixing a few moved repositories etc I've managed to get through as far as starting to compile a windows 64 build, but it errors with 'fatal error - pthreads errors. I'm

[2018-04-18 03:38] rdp commented on #12
Do you have the file pthread.h anywhere in your sandbox?

On Tuesday, April 17, 2018, phillipbarnett <notifications@github.com> wrote:

find a Windows binary.

having difficulties getting libdvbtee to compile for Win64. After fixing a
few moved repositories etc I've managed to get through as far as starting
to compile a windows 64 build, but it errors with 'fatal error - pthreads
errors. I'm using

[2018-04-18 19:35] phillipbarnett commented on #12
Hi,
Yes, pthrads.h shows up here, which looks sensible to me.
sandbox/cross_compilers/source/mingw-w64-5.0.2/mingw-w64-libraries/winpthreads/include/pthread.h
But surely this is just for compiling with posix threads, for Linux? I want to compile for Win64. (Well, actually I've been able to compile a linux executable, and am experimenting with that, as that's my preferred platform anyway - I just w

[2018-04-21 13:52] rdp commented on #12
(it's like a pthread port to windows).  That is weird, you should also have `./sandbox/cross_compilers/mingw-w64-x86_64/x86_64-w64-mingw32/include/pthread.h` (nuking the sandbox and trying again doesn't fix it? how are you invoking the script exactly?)  I did get it to build just now if you just want a binary: https://sourceforge.net/projects/ffmpegwindowsbi/files/random_builds/?upload_just_comple

[2018-04-23 11:25] phillipbarnett commented on #12
No, I just have these three copies;
phillip@sandbender:~/Downloads/ffmpeg-windows-build-helpers/sandbox$ find -name pthread.h -print
./cross_compilers/pkgs/gcc/source/gcc-7.1.0/fixincludes/tests/base/sys/pthread.h
./cross_compilers/pkgs/gcc/source/gcc-7.1.0/fixincludes/tests/base/pthread.h
./cross_compilers/source/mingw-w64-5.0.2/mingw-w64-libraries/winpthreads/include/pthread.h

Nuking the sandbo

[2018-05-03 18:52] VitorSDDF opened #43 "Error when running ./build-auto.sh"
OS: Ubuntu SERVER 16.04.3 LTS (GNU/Linux 4.4.0-112-generic x86_64)

./configure: line 17269: syntax error near unexpected token `0.20'
./configure: line 17269: `PKG_PROG_PKG_CONFIG(0.20)'
make: Entering directory '/home/user/libdvbtee-master'
make: *** No targets specified and no makefile found.  Stop.
make: Leaving directory '/home/user/libdvbtee-master'
make failed

[2018-05-15 10:15] mkrufky commented on #43
I saw this once myself, it is actually due to missing `pkg-config` package.  Please try: `sudo apt-get install pkgconf` and try again.   If that doesn't work, it may be in a different package.  You can force it to build by removing the the `PKG_PROG_PKG_CONFIG(0.20)` from `configure.ac` and running the script again.

[2018-05-24 09:32] wickesj opened #44 "Multicast UDP steam doesnt seem to work"
Hi, I'm trying to pull the PSI Data from a multicast UDP stream. I've compiled DVBTee for windows and am trying this line

dvbtee -iudp://239.255.1.201:5004 -O3 -ofile://output.ts -d

This is my output:-
_1527154273 LOG::libdvbtee_set_debug_level: (0xff)
1527154273 out::__add: (0->file://output.ts)
1527154273 rbuf::rbuf: ()
1527154273 out::output_stream: ()
1527154273 out::add: (-->file://output.t

[2018-05-24 09:38] wickesj opened #45 "Multicast UDP Stream PSI Data colection error"
Hi, I was hoping you might be able to help.

I'm using a windows compiled version of dvbtee and am trying to pull the PSI data from a multicast UDP stream. But I seem to be getting an error.

The line I'm using is:
dvbtee -iudp://239.255.1.201:5004 -O3 -ofile://output.ts -d

my output is:
1527154273 LOG::libdvbtee_set_debug_level: (0xff)
1527154273 out::__add: (0->file://output.ts)
1527154273 rbuf

[2018-05-24 10:09] #44 closed

[2018-05-24 11:20] mkrufky commented on #43
@VitorSDDF if `apt-get install pkg-config` doesn't resolve this for you, then please reopen this ticket.

[2018-05-24 11:20] #43 closed

[2018-05-24 11:57] wickesj commented on #45
Thanks for getting back to me so fasy, Ill give node-dvbtee a go

[2018-05-24 16:04] VitorSDDF commented on #43
Sorry for the lateness.It solved the problem.

[2018-05-27 16:20] mkrufky commented on #29
This shouldn't have been closed - there is clearly an open issue in detecting the encoding of DVB descriptor text fields.

[2018-05-28 14:48] #29 closed

[2018-05-28 18:36] mkrufky commented on #29
Thanks for the stream capture @fjbf - it was very helpful.

[2018-05-28 18:37] mkrufky commented on #29
Thanks for the stream capture @fjbf - it was very helpful.   This issue is _actually_ fixed now, until someone else says otherwise ;-)  Fix merged to master branch.

[2018-05-29 08:15] fjbf commented on #29
Thanks!!! Now is working well. I can see a extrange character in some channels at the end of the text but is not a problem for me. When i have a moment I attach a stream capture I you want to fix it.

[2018-06-26 16:53] lars18th opened #48 "SAT>IP as tuner source"
Hi,

I see that this good library has support for both: Linux DVB internal tuners and HDHomeRun devices.
From some time a new protocol for network tuners is available (almos for DVB sources): SAT>IP.

You can get the official specification from here:
http://www.satip.info/sites/satip/files/resource/satip_specification_version_1_2_2.pdf

And a good example code from the last VideoLAN commit (a sing

[2018-07-17 03:07] mkrufky commented on #48
I think it's a great idea -- patches are welcome :-)

[2018-07-18 06:55] lars18th commented on #48
Hi @mkrufky ,

So, I need some help! For example, can you prepare some skeleton of an abstract class (aka "dummy input") based on current "HDHR input"?

Using it will be feasible to implement a first port of the concrete class `satip_tuner_device`.

You agree?

[2018-09-13 15:29] BobCu opened #49 "build-auto.sh doesn't build or link dvb-vb2.cpp"
The build doesn't seem to know about dvb-vb2.cpp: There's no attempt to compile it, and then the linker complains about the undefined references.

I'm trying to build from the source in: mkrufky-libdvbtee-v0.6.6-0-gd291532.zip using build-auto.sh.

I was missing the unenforced build dependency for pkgconf, but adding it changed nothing.

I suspect an autotools issue, but am unfamiliar with it.

[2018-09-13 15:57] mkrufky commented on #49
@BobCu it's building fine for me without issue, and all builds are passing in Travis CI.  What exact OS / version are you running?  What version of autotools?  what version of gcc?  Can you paste the full output so I can take a look?

[2018-09-13 16:29] BobCu commented on #49
The build is under Win10 -> WSL -> Ubuntu 18.04, which I'm evaluating as a development environment (really good, so far).  All tool versions are current per Ubuntu.

I unzipped into a (very) clean environment, then ran build-auto.sh

[build.log](https://github.com/mkrufky/libdvbtee/files/2380188/build.log)

[2018-09-13 16:48] BobCu commented on #49
I just cloned the repo and it built fine.

[2018-09-13 16:58] BobCu commented on #49
I had forgotten: The zip build originally wasn't finding some nested includes (in descript.h, table.h, dvbtee_config.h) so I hacked them in by adding relative path prefixes.  The tip build didn't need such hacks, of course.

Blame the zip?

[2018-09-13 17:03] mkrufky commented on #49
hmm, weird.   Did you get the zip from github?  If so, can you link it to me?  I'm glad to hear that this doesn't occur if you clone tip, so we can probably close this, but I'd still like to try to repro it and understand what went wrong.

[2018-09-13 17:05] BobCu commented on #49
I got the zip from the link on this page: http://mkrufky.github.io/libdvbtee/

I also notice that the tip build has far fewer warnings, particularly for deprecations.

[2018-09-13 17:08] mkrufky commented on #49
The zipfile builds fine for me without issues.  No missing headers, I am also building on Ubuntu 18.04.1 LTS.   I have no idea what went wrong for you earlier, I can't repro :-/    ...but that's good news, right?  :-)

[2018-09-13 17:12] BobCu commented on #49
The lesson learned for me going forward is: "Try tips before zips!"

FWIW, I became a Python programmer about a decade ago, after 20 years in C/C++.  This marks my return to C/C++, and my skills have atrophied, along with my experience with build environments and C/C++ IDEs.

My goal with dvbtee is to get detailed parsing of EPG data into JSON form.  If needed, I plan to contribute code in that ar

[2018-09-13 17:16] mkrufky commented on #49
The command line executable `dvbtee` produces JSON-ish data.   It doesnt produce valid JSON, as described in #34 , which I've been meaning to fix, but haven't gotten around to it.  If you're interested in taking a look.  Just please be sure not to break any downstream functionality.  The code there gets a little messy :-P

You might have a little more fun with [node-dvbtee](https://github.com/mkru

[2018-09-13 17:16] BobCu commented on #49
Hmmm.  The include hacks may have come before installing pkgconf, if that's a factor.

[2018-09-13 17:17] mkrufky commented on #49
Indeed, that explains it.

[2018-09-13 17:41] BobCu commented on #49
node-dvbtee looks shiny, and gives me a reason to learn a little JS.  Though I'd prefer a "py-dvbtee" so I can leverage my Py-Fu.

[2018-09-13 19:47] mkrufky commented on #49
feel free to build py-dvbtee bindings using node-dvbtee as a reference :-)

[2018-09-15 11:01] #49 closed

[2018-10-04 13:29] ponasromas commented on #43
Sure. Here are the last line:

[code]

[2018-10-04 13:38] mkrufky commented on #43
`autoreconf -i` doesnt help?

[2018-10-04 13:41] ponasromas commented on #43
Nope, I have tried these actions:

[code]

None of those actions are helpful. Also, I have commented out "PKG_PROG_PKG_CONFIG" lines in configure.ac file - same error.

[2018-10-04 13:47] ponasromas commented on #43
Hm, actually after autoreconf -i I got this:

[code]

[2018-10-04 14:05] mkrufky commented on #43
I was able to reproduce the first issue, and adding `pkg-config` fixed it.   In order to try to reproduce this on a "clean" system, I make a Docker image:
[code]
...and it works.

Please make do:
[code]
and then try again.

[2018-10-04 14:07] mkrufky commented on #43
I haven't been able to reproduce the second issue.  You might have some artifacts leftover from a bad build.  Can you try wiping the entire libdvbtee and building again from a fresh clone?

[2019-08-02 02:37] grkblood13 commented on #14
Is there a way to omit this "warning"? I'm trying to capture epg data to build an xmltv file using ` ./dvbtee/dvbtee -c$CHANNUM -e` and these errors that occur constantly are making it impossible.

[2019-08-02 21:18] grkblood13 opened #50 "double quotes not escaped in JSON string values"
double quotes not escaped in JSON string values causing invalid JSON output

[2019-08-02 21:56] mkrufky commented on #14
@grkblood13 you'll have to be more specific

[2019-08-02 21:57] mkrufky commented on #50
I'd love to fix this if you can show me an example of the issue.   Otherwise, patches are welcome :-)

[2019-08-02 22:30] grkblood13 commented on #50
Sure, check out this pastebin. Line 62 shows the EPG data breaking in the JSON output. The JSON is at the bottom. https://pastebin.com/jXQS26A3

[2019-08-03 00:46] mkrufky commented on #50
I believe that this will work properly if you use the node.js module, [node-dvbtee](https://github.com/mkrufky/node-dvbtee) ...  I don't recall why it was fixed there but not in the CLI app, but if using the node.js module is an option for you, it may be a better route.

[2019-08-03 02:36] grkblood13 commented on #50
Any chance this will be fixed in the cli version? I would contribute but I'm all that experienced with C++ programming.

[2019-08-03 04:56] grkblood13 commented on #50
Is there any way to associate the EIT and ETT tables printed from the node-dvbtee packaged you mentioned with the virtual channel it's meant for? I can't seem to find any field to make the correlation.

[2019-08-03 09:25] mkrufky commented on #50
Not likely to happen immediately.  It needs to be done in such a way that preserves the original behavior by default -- others use the software to extract binary blobs from the streams as-is, and any escaping must be optional.

This was done in `node-dvbtee` and it works properly there.  If you'd like to see this logic brought the the CLI, please confirm that the way it's done in `node-dvbtee` wor

[2019-08-03 09:27] mkrufky commented on #50
When using `node-dvbtee`, you will have to associate the data from the related tables to each other yourself.  I had planned on adding such utility natively to `node-dvbtee` but hadn't gotten around to it yet.

[2019-08-03 16:01] grkblood13 commented on #50
What's the significance of the etmid thats in the ett tables? I've figured out how to pair the eit tables with the proper data but not how to match up the ett tables with their corresponding eit programme event. Im thinking maybe I can use this "etmId" somehow? My main problem is that I can't find anywhere in the parsed data where these etmIds are referenced anywhere.

[2019-08-04 12:56] grkblood13 commented on #50
Nevermind, I figured it out after some decimal to binary conversions. I'm going to leave this open though since the original issue remains unresolved. Thanks for the suggestions!

[2019-08-08 07:06] erdem-iptv opened #51 "JSON output doesn't include most dates"
I can see the programs on the console output as a list but most of them don't include in the JSON output. It is like doesn't include this list in the JSON part.
The command I enter
`dvbtee/dvbtee -iudp://239.0.0.4:1234 -t30 -j`

and the [output.txt](https://github.com/mkrufky/libdvbtee/files/3480298/output.txt)

[2019-08-08 10:14] mkrufky commented on #51
There are `startTime` and `lengthSec` fields, along with `unixTimeBegin` and `unixTimeEnd` fields present in your sample output.

[2019-08-08 10:30] erdem-iptv commented on #51
Yes but the problem is JSON data starts from the date 2019-08-24. The program data before that date is not included in the JSON data.

[2019-08-08 10:32] mkrufky commented on #51
That does sound like a bug.  I can take a look over the weekend -- do you have a sample TS that I can download from you to test?

[2019-08-08 10:47] erdem-iptv commented on #51
I just captured the ts file
https://drive.google.com/open?id=1LRQ74Rjf-iHPG8dtzl1wzV2wMAcS75_f

Many thanks for the support!

[2019-08-13 12:23] googolcore opened #52 "can't open very large files"
can`t open very large files. (-F option)

maybe over 2GB file have a problem.

need to add or modify the CPPFLAGS option.
CPPFLAGS="-D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE"

attach modified file (build-auto.sh)
[build-auto.zip](https://github.com/mkrufky/libdvbtee/files/3496909/build-auto.zip)

[2019-08-13 12:35] mkrufky commented on #52
nice catch!  This feature somehow got lost when I moved to the automake build system.   I will apply the changes.  In the future, please send it as a pull request.   I will apply this manually and make a new release

[2019-08-13 12:36] #52 closed

[2019-08-19 06:15] erdem-iptv commented on #51
Hello mkrufky,
Is there a chance to fix this bug any soon?
Many thanks in advance.

[2019-08-20 13:49] mkrufky commented on #51
My apologies - I haven't had a chance to reproduce this yet.  I said that I would take a look almost 2 weeks ago but life happens :-/ . I'll try to find some time for it over the next few days - Please keep the sample file available.

Without looking, however, one possibility comes to mind - Are you sure the missing programs are on the same mux / service that you've recorded?   Often there will be

[2019-08-22 06:39] erdem-iptv commented on #51
I compare the output with the VLC player program guide,  the output listed all programs in the channel but the only problem is not including this all program list into the JSON part.

Programs list correctly in the part of the output

`store EIT-255: v22 | ts_id 10304 | network_id 1 service_id 10304 | table id: 0x50, last_table id: 0x55
  02:35 - 04:00 : Die Blücherbande
  04:00 - 04:50 : Vorstadt

[2019-09-25 11:57] voltagex opened #53 "How do I know HDHomeRun is working?"
[code]

it seems like it's not even trying to use the HDHomeRun device. Note that if I use ./hdhomerun_config 123382A1 set /tuner1/target udp://10.1.1.2:5000/ I can receive data via UDP but I'm hoping to use dvbtee as an EPG grabber

[2019-09-25 17:29] mkrufky commented on #53
I agree  - it doesn't looks to be touching the hdhomerun device at all.   You might not have the libhdhomerun-dev headers installed on your system...   Please confirm that they're present, then re-run `./configure` ...  confirm that the build system successfully links with libhdhomerun, then rebuild and try again.

[2019-11-03 22:42] skycanine opened #54 "Does not compile on Ubuntu 18.04"
commit ea75b569d8d63ede90f042def36628dcf913271d (HEAD -> master, tag: v0.6.7, origin/master, origin/HEAD)

[code]

[code]

[2019-11-04 12:11] mkrufky commented on #54
If you want to control an HdHomerun device, then you will need to install `libhdhomerun-dev` before running any of libdvbtee's build scripts.

After doing so, the `configure` script will configure the build system to use either an HdHomerun device, a LinuxTV device, or no device at all.

libdvbtee uses a custom version of libdvbpsi, and the `build-auto.sh` script takes care of that for you, along

[2019-11-04 12:14] mkrufky commented on #53
any luck @voltagex ?  you should build using the `build-auto.sh` script after making sure that the `libhdhomerun-dev` headers are installed on your system.

[2019-11-04 12:16] voltagex commented on #53
Yep, sorry for the delay in getting back to you - once the headers were installed I re-built and it works as expected.

[2019-11-04 12:16] #53 closed

[2019-11-04 23:35] skycanine commented on #54
Ahh, thanks.  I'll try again when I get a chance.

I've written a PVR for HDHomerun.  A user clicks on "Record" in a TitanTV.com tv guide.  That Downloads a program.tvpi file which I've associated with a bash script.  It adds a cron job which calls the same bash script, but to record the show.  The recording functions call APIs to flesh out the show/movie title in the Plex naming convention.  I'd

[2019-11-05 00:23] skycanine commented on #54
Below makes the compile succeed.

[Previously installed libhdhomerun](https://www.silicondust.com/support/linux/)

[code]

[2019-11-27 12:47] lars18th opened #55 "STDOUT PIPE"
Hi,

I need some help. In the README page appears this first example:
`dvbtee -c33 -I1 -oudp://192.168.1.100:1234`

But I want to pipe the stream like I do with the `dvbstream` tool. So my objetive is something like:
`dvbtee -c33 -I1 -o- | vlc -`

The idea is to support `-o-` or `-o/dev/stdout` or something similar.
Any help?
Thank you!

[2020-01-15 17:27] erdem-iptv commented on #51
Is there any news about this issue?

[2020-06-10 18:13] stephenmcconnachie opened #56 "Error while loading shared libraries: libdvbtee.so.0"
I built on Ubuntu 18.04.4 using the ./build-auto.sh method, had to install automake and libtools but all looks fine. But when I run /dvbtee/dvbtee < /path/to/file.ts I get the error:
/home/code/dvbtee/dvbtee/.libs/dvbtee: error while loading shared libraries: libdvbtee.so.0: cannot open shared object file: No such file or directory

I've tried this sudo in case of permissions issue, same error. I

[2020-06-10 19:07] #56 closed, assigned to nobody

[2020-07-24 12:28] grkblood13 opened #57 "dvbtee hanging with -q option"
Recently dvbtee stopped producing a nice channel list for me when running the scan command with

dvbtee/dvbtee -s -a0 -q > channels.conf

It seems to be running fine without the -q option and ultimately processes channels.conf after several minutes, which is what it used to do in the past.

[2020-07-24 12:43] mkrufky commented on #57
The last commit to master was in Aug 2019 - when you say "recently" , do you mean "ever since last year" ?  Can you show the errors or any debug from the command when it fails?

[2020-07-24 13:17] grkblood13 commented on #57
I'm having a lot of difficulty getting something reproducible so I'll just paste what I get as it breaks. Here's the latest:

$ dvbtee -s -a0 -d 1> channels.conf

scan channel 18...
tuned to 497000000
1595596342 parse::reset: ()
1595596342 parse::detach_demux: ()
SCVYL 1595596343 linuxtv_tuner::start_feed: ()
start_feed: using /dev/dvb/adapter0/demux0
1595596345 feed::set_filename: (/dev/dvb/adapt

[2020-07-24 13:25] mkrufky commented on #57
...and this is with v0.6.7 ?  Does it also happen with v0.6.6 ?

[2020-07-24 13:54] grkblood13 commented on #57
This is with 0.6.7. When I get to a stopping point Ill roll back to 0.6.6 and see how that behaves.

[2020-08-07 13:39] grkblood13 commented on #57
I'm going to close this due to having issues with ever being able to make reproducible steps.

[2020-08-07 13:39] #57 closed

[2020-08-07 13:58] mkrufky commented on #57
Please feel free to reopen if you are able to reproduce the issue

[2020-09-04 15:40] lonnietc opened #58 "Use with WinTV-QuadHD tuner card?"
Hello,

I have just purchased a WinTV-QuadHD tuner card for use my Ubuntu 20.04 system and am just now learning more about this whole area of media.

I was looking for a small, fast, and easy to use C/C++ library that I can work with the WinTV-QuadHD card to get media streams, (MPEG-2) I think that it has to be, so that I can stream them to other applications from tuners.

Your library seems like

[2020-09-04 16:59] lonnietc commented on #58
Hi All,

I have been able to compile the libdvtee code and tested it with a scan:

dvbtee -s -a0

- - - - - - - -

It scanned 69 channels and found:

# channel 28, 557000000,
62.1-MPT-HD:557000000:8VSB:49:52:1
62.2-MPT-2:557000000:8VSB:65:68:2
62.3-MPTKIDS:557000000:8VSB:81:84:3
62.4-NHK-WLD:557000000:8VSB:97:100:4

# channel 31, 575000000,
26.1-WETA-HD:575000000:8VSB:49:52:1
26.2-WETA UK:57500000

[2020-09-04 17:12] mkrufky commented on #58
For examples of what the command-line dvbtee utility can do, see https://github.com/mkrufky/libdvbtee#example-usage

[2020-09-04 17:37] lonnietc commented on #58
Hello Michael,

Thanks for getting back to me and please forgive me in that I am a total newbie here on this topic.  I was able to test the WinTV-quadHD card with an application called Kaffine and also tvheadend (feeding into Kodi) that I followed watching a Youtube video on the setup to test things.

Yea, I was looking at those and playing a bit but I am not sure what some of these commands actua

[2020-09-10 17:59] grkblood13 opened #59 "scanning for channels gets stuck on "_open_file""
Built on raspberry pi 4 running nodejs v14.

Build instructions:
git clone https://github.com/mkrufky/libdvbtee.git
cd libdvbtee
./build-auto.sh
sudo cp -rp dvbtee /opt/
sudo ln -s /opt/dvbtee/dvbtee /usr/local/bin

Command to scan:
dvbtee -s -a0 > out.tmp

Results:
scan appears to run but gets stuck on the following line, resulting in a file with only "# dvbtee v0.6.7 - http://github.com/mkrufky/

[2020-09-10 18:17] mkrufky commented on #59
@grkblood13 What device did you use for the ATSC capture?  Also, do you know the exact kernel version?

[2020-09-10 18:18] mkrufky commented on #59
@grkblood13 What device did you use for the ATSC capture? Also, do you know the exact kernel version?  Also, is there any relevant info corresponding in the `dmesg` logs?

[2020-09-10 18:18] mkrufky commented on #59
@grkblood13 What device did you use for the ATSC capture? Also, do you know the exact kernel version? Is there any relevant info corresponding in the dmesg logs?

[2020-09-10 18:19] mkrufky commented on #59
@grkblood13 What device did you use for the ATSC capture? Also, do you know the exact kernel version? Is there any relevant info in the corresponding dmesg logs?

[2020-09-10 18:37] grkblood13 commented on #59
device:
Hauppauge WinTV-HVR-950Q
https://www.linuxtv.org/wiki/index.php/Hauppauge_WinTV-HVR-950Q

kernel info:
Linux raspberrypi 4.19.118-v7l+ #1311 SMP Mon Apr 27 14:26:42 BST 2020 armv7l GNU/Linux

dmesg:
[   85.699965] usb 1-1.3: new high-speed USB device number 6 using xhci_hcd
[   85.830291] usb 1-1.3: config 1 interface 0 altsetting 0 endpoint 0x81 has invalid wMaxPacketSize 0
[   85.852449]

[2020-09-10 20:17] mkrufky commented on #59
So, no errors in the logs that correspond to the freeze?  Is this a new problem introduced by this kernel version or does it happen with older kernels?  I will see if i can reproduce it.

Have you tried enabling debug on `dvbtee` ?    Try passing `-d 511`  Maybe the debug shows what's happening...

[2020-09-11 00:00] grkblood13 commented on #59
When running in debug mode the command returns as expected. When I remove the debug flag it returns to hanging. Do you want the debug log? Not sure how much it'll help since it runs properly when setting the flag.

[2020-09-11 00:00] grkblood13 commented on #59
I just received the RPI4, so I have no insight on how it ran on older kernels on the pi.

[2020-09-11 00:46] mkrufky commented on #59
I think I've seen this before, but I thought I had fixed it at the kernel level.   I will try to repro, but I don't (yet) have an rpi4 -- thanks for the reminder, I will order one.

It sounds like either a race condition or a deadlock ....  or a deadlock caused by a race condition.

Does anything else get you past it other than enabling debug?

[2020-09-11 02:27] grkblood13 commented on #59
From what I can tell, no. If you have anything you want me to try though I will.

[2020-09-11 02:39] grkblood13 commented on #59
I was able to run twice successfully without debug mode and then another hang on the third attempt. Perhaps the hang is related to these libdvbpsi errors that seem to be unpredictable as we're dealing with a live environment.

This is probably a similar situation to the last bug I opened and subsequently closed after having problems reproducing: https://github.com/mkrufky/libdvbtee/issues/57

Erro

[2020-09-11 02:47] grkblood13 commented on #59
seems to be related to the errors listed above. seeing same behavior on multiple runs.

good run -> https://gist.github.com/grkblood13/425d2d2ad2d8282b5c2d420e83a21a4c
bad run -> https://gist.github.com/grkblood13/b620f79ad8290aa11568021d1e8be412

[2020-09-11 20:13] mkrufky commented on #59
I notice the hang is on a different frequency from what you posted previously.  Is this the only tuner stick you have?  It looks like a driver issue, but it still could be the app.

I can try to repro over the weekend using my desktop.

[2020-12-02 16:12] bkoehm commented on #50
I opened pull request #60 to escape double quotes and backslashes in JSON values.  I tested this with a local ATSC .ts file using the -F, -j and -e options.  I wanted to test the web server output, but I was unable to figure out how to get the web server to output as JSON (only as HTML).  If someone tells me how to do that, I can test the web server output too.

Also I want to note that I found at

[2020-12-22 20:16] #50 closed

[2021-11-03 12:55] miamilabs opened #61 "EPG Description."
Hey Community,

first of all thank you for the great tool and the job which was been done to build it.

I am trying to get few information out of my stream [name,stream time, description]  but somehow it is not working properly. I get the following JSON/Data only when i add "-d3" as parameter.

Is there any way to reduce the output?

**Command :**
`root/libdvbtee/dvbtee/.libs/lt-dvbtee -d3  -iudp: